<form method="get">
    <table>
        <tr>
            <h1 style="text-align: center;">Admin dashboard</h1>
        </tr>
    </table>
</form>
<form method="get" action="/user_register">
    <h4><input type="submit" value="register"></h4>
</form>
<form method="get" action="/task">
        <button>Add task</button>
</form>